<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gradle_spring_mybatis_java_study.mapper.TitleMapper">
    <select id="selectTitleByAll" resultType="Title">
        select no, name from title
    </select>
</mapper>